In [1]:
#Slicing starts with the colon :
#2:7 = from 2 to 7 not including 7.  
#negative indexation works also

#Advanced Slicing with two colons.  2:9:2 = start:finish:step >> returns 2, 4, 6, 8

In [4]:
letters = ["A", "B", "C", "D", "E", "F", "G"]
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [6]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [8]:
letters[2:]

['C', 'D', 'E', 'F', 'G']

In [10]:
letters[2:5]

['C', 'D', 'E']

In [11]:
letters[-6:-1]

['B', 'C', 'D', 'E', 'F']

In [12]:
letters[0:4:2]

['A', 'C']

In [14]:
letters[-6:-1:2]

['B', 'D', 'F']

In [15]:
letters[6:1:-1]

['G', 'F', 'E', 'D', 'C']

In [24]:
'------'

'------'

In [25]:
#Tuple = immutable list.  Cannot be changed.

In [26]:
t1 = (345, 674, 934)

In [27]:
t1

(345, 674, 934)

In [29]:
t1[0]

345

In [30]:
t1[1]=45

TypeError: 'tuple' object does not support item assignment